{% extends 'main/base.html' %}
{% block title %}Actualizar tranajador{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
&nbsp;
<form method="POST">
    {% csrf_token %}
    <h3>Datos Personales</h3>
    {{form|crispy}}
    <h3>Regimen Provisional</h3>
    {{form_2|crispy}}
    <h3>APV</h3>
    {{form_3|crispy}}
    <h3>Salud</h3>
    {{form_4|crispy}}
    <h3>Liquidacion</h3>
    {{form_5|crispy}}
    <h3>No Imponibles</h3>
    <h3>Pago</h3>
    {{form_7|crispy}}
    <button type="submit" class="btn btn-success">Guardar</button>
</form>
{% endblock %}