{% block title %}Liquidaciones{% endblock %}
{% block content %}
<head>
    <style>
        
    </style>
</head>
<body>
    <div id="pdf-header"></div>
        <h1>Liquidacion de Remuneraciones</h1>
        <h1>{{fecha}}</h1>
    <div id="content">
        <hr>
        <div id="pdf-datos">
            <table>
                <tr>
                    <td><p>Nombre: {{nombre}} {{apellido}}</p></td>
                </tr>
                <tr>
                    <td><p>Rut: {{rut}}</p></td>
                </tr>
                <tr>
                    <td><p>Cargo: </p></td>
                    <td><p>Dias Trabajados: </p></td>
                    <td><p>Dias Descontados: </p></td>
                </tr>
            </table>
        </div>
        &nbsp;
        <h5>Prevision</h5>
        <hr>
        <div id="pdf-prevision">
            <p>Inst.Previsional: {{inst_previsional}}</p>
        </div>
        &nbsp;
        <h5>Salud</h5>
        <hr>
        <div id="pdf-salud">
            <p>Inst.Salud: {{inst_salud}}</p>
        </div>
        &nbsp;
        <div id="pdf-haberes">
            <h5>Haberes</h5>
            <hr>
            <table>
                <tr>
                    <td><p>Sueldo Base: {{sueldo_base}}</p></td>
                    <td><p>Bonos: {{bonos}}</p></td>
                    <td><p>Gratificacion: {{gratificacion}}</p></td>
                    <td><p>Total Haberes Imponibles: {{total_haberes_imponibles}}</p></td>
                </tr>
            </table>
            <h5>No Imponibles</h5><hr>
            <table>
                <tr>
                    <td><p>Colacion: {{colacion}}</p></td>
                    <td><p>Moviliacion: {{movilizacion}}</p></td>
                    <td><p>Trabajo Remoto: {{trabajo_remoto}}</p></td>
                    <td><p>Total No Imponibles: {{total_no_imponibles}}</p></td>
                </tr>
            </table>
        </div>
        &nbsp;
        <h5>Descuentos</h5>
        <hr>
        <table>
            <tr>
                <td><p>Regimen Previsional: {{regimen}}</p></td>
                <td><p>Salud: {{salud}}</p></td>
                <td><p>Cesantia: {{cesantia}}</p></td>
                <td><p>Total Descuentos: {{total_descuentos}}</p></td>
            </tr>
        </table>
        <hr>
        <div id="pdf-totales">
            <h1>LIQUIDO A RECIBIR: {{sueldo_liquido}}</h1>
        </div>
        <hr>
    </div>
    <div id="footer"></div>
</body>
{% endblock %}