<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{report_id}}</title>
    <style>
        body {
            color: blue;
            font-family: verdana;
            font-size: 300%;
            text-align: center;
          }
    </style>
</head>
<body>
    <h1>This is the report page for {{name}}.You can download it in PDF format.</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta debitis libero non porro aperiam inventore cumque delectus molestias, explicabo consequatur obcaecati sit harum repudiandae exercitationem, impedit veritatis iste nesciunt praesentium.</p>
    <h1> The amount is {{amount}}</h1>
    <h1> The ID is {{id}}</h1>

</body>
</html>